.wrapper {
    position: relative;
}

.notificationButton {
    position: relative;

    border: 0;
    background: transparent;

    font-size: 20px;
    cursor: pointer;

    span {
        position: absolute;
        top: -6px;
        right: -1px;

        min-width: 17px;
        height: 17px;

        display: grid;
        place-items: center;

        border-radius: 50%;

        background: #f43f5e;
        color: #fff;

        font-size: 10px;
    }
}

.dropdown {
    position: absolute;
    top: calc(100% + 12px);
    right: 0;

    z-index: 10;

    width: 300px;
    padding: 16px;

    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);

    h3 {
        margin-top: 0;
    }

    p {
        padding: 10px 0;
        margin: 0;
        border-bottom: 1px solid #eee;
    }
}
