.sidebar {
    padding: 28px 18px;

    background: #111827;

    display: flex;
    flex-direction: column;
    gap: 8px;

    a {
        padding: 10px 12px;

        color: #d1d5db;
        text-decoration: none;

        border-radius: 6px;

        &:hover {
            background: #1f2937;
            color: #fff;
        }
    }
}


